<<<<<<< HEAD
<%= form_for(@student) do |f| %>
<h3>Student Form</h3>
<label>First Name:</label><br>
<%=f.text_field :first_name%><br>

 <label>Last Name:</label><br>
<%=f.text_field :last_name%><br>

 <%=f.submit%>

 <%end%> 
=======
<%= form_for(@student) do |f| %>
  <%= f.label :first_name %>
  <%= f.text_field :first_name %>
  <%= f.label :last_name %>
  <%= f.text_field :last_name %>
  <%= f.submit %>
<% end %>
>>>>>>> e32d271ee64d82b2e8fcb1cf4aa884f911a49f19
