<<<<<<< HEAD
<%= form_for(@student) do |f| %>
 <label>student_first_name:</label><br>
 <%= f.text_field :first_name %><br>
  <label>student_last_name</label><br>
 <%= f.text_field :last_name %><br>
 <%= f.submit %>
<% end %>
=======
<%= form_for(@school_class) do |f| %>
  <%= f.label :title %>
  <%= f.text_field :title %>
  <%= f.label :room_number %>
  <%= f.text_field :room_number %>
  <%= f.submit %>
<% end %>
>>>>>>> e32d271ee64d82b2e8fcb1cf4aa884f911a49f19
